/*
Scheme5 green:
white:      255, 255, 255
blue:       0, 186, 219
green:       77, 168, 37
lightgreen:  156,215,106 
grey:        85, 85, 85
darkgrey:    51,51,51
*/

/* Icons
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@font-face {
  font-family: "uiicons";
  src: url("../font/uiicons.ttf") format('truetype');
  font-weight normal;
  font-style: normal;
}

/* Main menu
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.menu {
    -fx-background-color: linear-gradient(to bottom right, rgba(156,215,106, 1) 8%, rgba(77, 168, 37, 1) 100%);
}


.menu .settings {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-font-size: 12px;
    -fx-text-fill: rgba(0, 0, 0, 0.64);
}

.menu .btn {
    -fx-background-radius: 0px;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-font-size: 16px;
    -fx-text-fill: rgba(0, 0, 0, 0.64);
}

.menu .btn:selected {
    -fx-text-fill: rgba(255,255,255, 1);
    -fx-border-color: rgba(120, 243, 130, 0) rgba(120, 243, 130, 0) rgba(120, 243, 130, 0) rgba(255, 255, 255, 1);
    -fx-border-width: 0 0 0 4px;
    -fx-background-color: rgba(0, 0, 0, 0.08);
}

.menu .action {
    -fx-background-color: rgb(0, 186, 219);
    -fx-font-size: 16px;
    -fx-text-fill: rgba(0, 0, 0, 0.64);
}

.menu .action:selected {
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-font-size: 16px;
    -fx-text-fill: rgba(0, 0, 0, 0.64);
}

.menu .menuswitch-btns {
    -fx-background-color: rgb(77, 168, 37);
}

.menu .menuswitch-btns:hover {
    -fx-background-color: rgb(156, 215, 106);
}

.menu .action .ico {
    -fx-font-family: 'uiicons';
    -fx-font-size: 24px;
    -fx-text-fill: rgba(0, 0, 0, 0.64);
}

.menu .btn .ico {
    -fx-font-family: 'uiicons';
    -fx-font-size: 24px;
    -fx-text-fill: rgba(0, 0, 0, 0.64);
}

.menu .btn:selected .ico {
    -fx-text-fill: rgb(255, 255, 255);
}


/*DASHBOARD
--------------------------------------------------------------------*/
.dashboard {
    /*-fx-background-color: rgb(161, 161, 161);*/
}


/*----Report-----------------------------------------*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.reportHeader {
    
}
.reportHeader .btn_main {
    -fx-background-color: rgb(77, 168, 37);
    -fx-background-radius:5px;
    -fx-font-size: 14;
    -fx-text-fill: rgb(255,255,255);
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-insets: 1;
}

.reportHeader .btn_main:hover {
    -fx-background-color: rgb(156,215,106);
}

.reportHeader .timebtn {
    -fx-background-color: rgb(77, 168, 37);
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-padding: 4px;
    -fx-text-fill: rgb(255,255,255);
}
.reportHeader .timebtn:hover {
    -fx-background-color: rgb(156,215,106);
}

.reportHeader .datepicker {
    /*
    -fx-background-color: rgb(77, 168, 37);
    -fx-background-radius:5px;
    -fx-font-size: 14;
    -fx-text-fill: rgb(255,255,255);
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-insets: 1;*/
}

.reportHeader .datepicker > .text-field {
    /*-fx-background-color: rgb(77, 168, 37);*/
}
.reportHeader .datepicker > .arrow-button {
    -fx-background-color: rgb(77, 168, 37);
}
.reportHeader .datepicker > .arrow-button:hover {
    -fx-background-color: rgb(156,215,106);
}

.reportHeader .datepicker > .arrow-button .arrow {
    -fx-background-color: rgb(255,255,255);
    /*-fx-text-fill: rgb(77, 168, 37);*/
}

.titled-pane
{
    -fx-skin: "com.sun.javafx.scene.control.skin.TitledPaneSkin";
    -fx-text-fill: white;
}

.titled-pane:focused
{
    -fx-text-fill: white;
}

.titled-pane > .title   {
    -fx-background-color: rgb(156,215,106), rgb(156,215,106), linear-gradient(rgba(156,215,106, 1) 8%, rgba(77, 168, 37, 1) 100%);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em;
}
.titled-pane:focused > .title
{
    -fx-color: -fx-focus-color;
}

.titled-pane > .title > .arrow-button
{
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.0em 0.25em 0.0em 0.0em; /* 0 3 0 0 */
}

.titled-pane > .title > .arrow-button .arrow
{
    -fx-background-color: rgb(57, 148, 17);
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.titled-pane:collapsed > .title > .arrow-button .arrow
{
    -fx-rotate: -90;
}

.titled-pane:focused > .title > .arrow-button .arrow
{
    -fx-background-color: white;
}



.titled-pane_sub
{
    -fx-skin: "com.sun.javafx.scene.control.skin.TitledPaneSkin";
    -fx-text-fill: rgb(0, 129, 159);
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.titled-pane_sub .subtext{
    -fx-font-size: 12px;
    -fx-font-weight: normal;
}

.titled-pane_sub > .title {
    -fx-background-color: transparent;
    -fx-border-color: rgb(0, 129, 159);
    -fx-border-radius: 5;
    -fx-border-width: 0.75;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em;
}

.titled-pane_sub > .title > .arrow-button .arrow
{
    -fx-background-color: rgb(0, 129, 159);
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

/* Project module
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.project {
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-padding: 8px 16px;
    -fx-border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(244,244,244, 1) rgba(0, 0, 0, 0);
    -fx-border-width: 0 0 1px 0;
}

.project .note .cap {
    -fx-alignment: center;
    -fx-font-size: 18px;
    -fx-background-color: rgba(98, 124, 140, 1);
    -fx-background-radius: 48px;
    -fx-text-fill: rgba(244, 244, 244, 1);
}

.project .note .input {
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-background-radius: 0px;
}

.project .note .projectname {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(98, 124, 140, 1);
}


.project .client .name {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(0, 0, 0, 0.32);
}


.project .actions .btns {
    -fx-font-family: 'uiicons';
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-font-size: 24px;
    -fx-mark-color: transparent;
}

.project .actions .timer {
    -fx-text-fill: rgba(240, 78, 81, 1);
}

.project .actions .more {
    -fx-opacity: 0.32;
}

.project .actions .more .context-menu {
    -fx-font-size: 15px;
}

.project .actions .menu-button > .arrow-button {
    -fx-padding: 0px;
}

.project .actions .menu-button > .arrow-button > .arrow {
    -fx-padding: 0px;
}


/*----Report----------------
---------------------------------------------------*/
/* Project module
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.report {
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(244, 244, 244, 1) rgba(0, 0, 0, 0);
    -fx-border-width: 0 0 1px 0;
}


.report .note .cap {
    -fx-alignment: center;
    -fx-font-size: 16px;
    -fx-background-color: rgba(98, 124, 140, 1);
    -fx-background-radius: 30px;
    -fx-text-fill: rgba(244, 244, 244, 1);
}

.report .note .projectname {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(98, 124, 140, 1);
}

.report .client .name {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(0, 0, 0, 0.32);
}

.report .actions .btns {
    -fx-font-family: 'uiicons';
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-font-size: 24px;
    -fx-mark-color: transparent;
}

.report .actions .more {
    -fx-opacity: 0.32;
}

.report .actions .more .context-menu {
    -fx-font-size: 15px;
}

.report .actions .menu-button > .arrow-button {
    -fx-padding: 0px;
}

.report .actions .menu-button > .arrow-button > .arrow {
    -fx-padding: 0px;
}

----------------------------Clients-Objects-----------------------------------------------------------------
.clientobject {
    -fx-background-color: transparent;
    -fx-text-fill: rgb(255,255,255);
}

.clientobject .btns {
    -fx-background-color: transparent;
    -fx-background-radius:5px;
    -fx-font-weight: bold;
    -fx-margin: 5px;
    -fx-border-color: rgba(0,0,0,0.2);
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-insets: 1;
}
.clientobject .btns:hover {
    -fx-background-color: rgba(255,255,255, 0.2);
}

.clientobject .new {
    -fx-background-color: rgb(77, 168, 37);
    -fx-text-fill: rgb(255,255,255);
    -fx-background-radius:5px;
    -fx-font-size: 18px;
    -fx-margin: 5px;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-insets: 1;
}

.clientobject .new:hover {
    -fx-background-color: rgb(156,215,106);
}

.clientobject .colorpickerWhite {
    -fx-background-color: transparent; 
}
 .clientobject .colorpickerWhite > .label {
    -fx-text-fill: rgb(255,255,255);
     -fx-border-color: rgba(255,255,255,0.4);
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
}
 .clientobject .colorpickerWhite > .label:hover {
     -fx-background-color: rgba(255,255,255,0.2);
     -fx-background-radius: 4px;
}
 .clientobject .colorpickerWhite > .arrow-button {
    -fx-border-color: rgba(255,255,255,0);
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
}


.clientobject .colorpickerBlack {
    -fx-background-color: transparent; 
}
 .clientobject .colorpickerBlack > .label {
    -fx-text-fill: rgb(0,0,0);
     -fx-border-color: rgba(0,0,0,0.2);
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
}
 .clientobject .colorpickerBlack > .label:hover {
     -fx-background-color: rgba(0,0,0,0.2);
     -fx-background-radius: 4px;
}
 .clientobject .colorpickerBlack > .arrow-button {
    -fx-border-color: rgba(0,0,0,0);
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
}
